*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

#stud{
    margin: 20px 10px;
    font-weight: 800;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.container{
    margin-left: 10%;
}

#grade{
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    background-color: rgba(0, 0, 255, 0.274);
}

#exp{
    background-color: white;
    width: fit-content;
    position: relative;
    left: 79%;
    top: -50%;
    border-radius: 15%;
}

#exp p{
    padding: 12px 22px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

marquee{
    font-style: italic;
    font-size: 50px;
    position: relative;
    top: -30%;
}

body{
    background-color: gainsboro;
}

input{
    width: 30%;
    height: 50px;
    text-align: center;
}

label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 30px;
}

button{
    padding: 8px;
    border-radius: 30px;
    background-color: green;
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
  
}

@media(max-width:900px){
    #exp{
        display: none;
    }

    button{
        justify-content: center;
    }
}